body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: black;
  color: white;
  text-align: center;
}

.container {
  padding-top: 80px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.card {
  width: 220px;
  height: 300px;
  border-radius: 18px;
  background: #111;
  border: 2px solid lime;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
